# Dependencies
node_modules
.pnpm-store/

# Build outputs
dist
dist-ssr
build
*.local

# Tauri
/src-tauri/target
/src-tauri/target/release
/src-tauri/target/debug
/src-tauri/*.log
/src-tauri/build
/src-tauri/node_modules
/src-tauri/gen/schemas

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
private
TODO.md

# Environment variables
.env
.env.*
!.env.example

# Testing
coverage

# Production
/build

# Debug
.debug
# Sentry Config File
.env.sentry-build-plugin
